body {
    
    background-color: rgb(35, 35, 39);
    
    
}

main#container {
    background-color: rgb(187, 175, 175);
    color: rgb(0, 0, 0);
    border-style: solid;
    
}

h1.titulo {
    font-variant: small-caps;
}

p.frase {
    font-family: cursive;
}

p.autor {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
}